[core]
	editor = vim
[alias]
    fza = "!git ls-files -m -o  --exclude-standard | fzf --print0 -m | xargs -0 -t -o git add"
    co = checkout
    ci = commit
    st = status
    br = branch
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
    type = cat-file -t
    dump = cat-file -p
    cdiff = diff --color=always
	ls = "!~/.config/scripts/git-ls/git-ls"
[diff]
    tool = meld
[difftool]
    prompt = false
[difftool "meld"]
    cmd = meld "$LOCAL" "$REMOTE"
[merge]
    tool = meld
[mergetool "meld"]
    # Choose one of these 2 lines (not both!) explained below.
    cmd = meld "$LOCAL" "$MERGED" "$REMOTE" --output "$MERGED"
    ; cmd = meld "$LOCAL" "$BASE" "$REMOTE" --output "$MERGED"
[user]
	name = maverickdas
	email = abhidash@outlook.com
[push]
	default = simple
