[Desktop Entry]
Version=1.0
Type=Application
Name=Neovim
Comment=Edit text files
Exec=nvim %F
Icon=nvim
Path=
Terminal=true
StartupNotify=false
X-XFCE-Source=file:///home/abhirup/Desktop/Neovim.desktop
