[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[4076E87276E86A5C]
row=1
col=0

[8c6a4569-d4f9-4f4a-a67c-04a58b9d5d58]
row=0
col=0

[Trash]
row=2
col=0

[/]
row=3
col=0

[/home/abhirup]
row=4
col=0

