[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/abhirup/Desktop/DirkEddelbuettel.pdf]
row=8
col=2

[/home/abhirup/Desktop/CV]
row=6
col=2

[/home/abhirup/Desktop/[Abraham_Silberschatz,_Henry_F._Korth,_S._Sudarsha(z-lib.org).pdf]
row=6
col=1

[/home/abhirup/Desktop/Internet Download Manager.lnk]
row=2
col=1

[/home/abhirup/Desktop/MusicGen_CSIR.docx]
row=3
col=1

[/home/abhirup/Desktop/DeepinScreenshot_select-area_20190111230513.png]
row=3
col=2

[/home/abhirup/Desktop/DeepinScreenshot_select-area_20190223102313.png]
row=2
col=3

[/home/abhirup/Desktop/TrainTicket.pdf]
row=5
col=0

[/home/abhirup/Desktop/MattDziubinski.pdf]
row=1
col=1

[/home/abhirup/Desktop/xdg-mime guide.png]
row=7
col=0

[/home/abhirup/Desktop/shared_win7]
row=2
col=2

[/home/abhirup/Desktop/os-assignment-list.pdf]
row=1
col=2

[/home/abhirup/Desktop/plot.png]
row=5
col=1

[/home/abhirup/Desktop/iiser_0.txt]
row=6
col=0

[/home/abhirup/Desktop/CV.pdf]
row=4
col=1

[/home/abhirup/Desktop/bdebika_CS601_semfile_f1547014927322.pdf]
row=8
col=1

[/home/abhirup/Desktop/Deep_Image_Understanding_Using_Multilayered_Contex.pdf]
row=4
col=2

[/home/abhirup/Desktop/Zellers_Neural_Motifs_Scene_CVPR_2018_paper.pdf]
row=5
col=2

[/home/abhirup/Desktop/tsa4.pdf]
row=0
col=1

[/home/abhirup/Desktop/DeepinScreenshot_select-area_20190220125359.png]
row=8
col=0

[/home/abhirup/Desktop/Deep_learning_for_word-level_handwritten_Indic_scr.pdf]
row=1
col=3

[28348D0100B16C95]
row=0
col=0

[4076E87276E86A5C]
row=1
col=0

[Trash]
row=2
col=0

[/]
row=3
col=0

[/home/abhirup]
row=4
col=0

